RFC6331: Moving DIGEST-MD5 to Historic

July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM) SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS Simple Authentication and Security Layer (SASL) Mechanisms


I'm not gonna do any functional changes, I'm trying to keep this patchset as small as possible with the stated goals (avoid PHP compatibility issues, warnings and security bugs).